{% extends "master.html" %}
{% block content %}

<form class="" method="post">
  <label for="person_id">Select Person:</label>
  <select name="person_id" method="GET" action="/">
    {% for key in people %}
      <option value="{{key}}">{{people[key].full_name}} (Preference: {{people[key].preference.name}})</option>
    {% endfor %}
  </select>


  <label for="drink_id">Select Drink:</label>
  <select name="drink_id" method="GET" action="/">
    {% for key in drinks %}
      <option value="{{key}}">{{drinks[key].name}}</option>
    {% endfor %}
  </select>

  <p> Please only select a round relevant to your team, or your order may bot be processed </p>
  <label for="round_id">Select Round:</label>
  <select name="round_id" method="GET" action="/">
    {% for key in rounds %}
      {% if rounds[key].active %}
        <option value="{{key}}">{{rounds[key].__str__()}}</option>
      {% endif %}
    {% endfor %}
  </select>

  <br>
  <input class="button" id="submit-btn" type="submit" value="Submit">

</form>

{% endblock %}
