{% extends "master.html" %}
{% block content %}

<div class="center">
  <input class="button" type="submit" value="New Team"
      onclick="window.location='/add_team';" />
  <input class="button" type="submit" value="New Member"
      onclick="window.location='/add_member';" />
</div>

<table id="teams">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>View members</th>
  </tr>
  {%  for t in teams  %}
  <tr>
    <td>
      {{teams[t].team_id}}
    </td>
    <td>
      {{teams[t].name}}
    </td>
    <td>
      {{teams[t].location}}
    </td>
    <td>
      <form action="/view_team" method="post">
        <button class="button" type="submit" name="team_id" value="{{teams[t].team_id}}">View Members </button>
      </form>
    </td>
  </tr>
  {% endfor  %}
</table>
{% endblock %}
