<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>New Team</title>
</head>

<body>
  <form id="add-team-form" method="post">
    <legend>Add new Team:</legend>
    <label for="team-name">Team name:</label>
    <input id="team-name" type="text" name="team-name" />
    <br>
    <label for="team-location">Location:</label>
    <input id="team-location" type="text" name="team-location" />

    <input id="submit-btn" type="submit" value="Submit">
  </form>
</body>

</html>