* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir Light';
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  text-align: center;
}

.button {
  background-color: #E35205;
  padding: 10px;
  margin:5px;
  color: white;
  font-family: 'Avenir Light';
  border: 0 solid;
}

.button:hover {
  background-color: #00B2A9;
  cursor: pointer;
}

.navbar {
  font-size: large;
  color: #E35205;
  background-color: #333F48;
  overflow: auto;
  width: 100%;
  border-bottom: 2px solid;
}

.navbar ul {
  float: left;
}

.navbar li {
  font-family: 'Avenir Black', Arial;
  display: table-cell;
  height: 3em;
  min-width: 5em;
  padding: 0 1em;
  text-align: center;
  vertical-align: middle;
}

.navbar li:hover {
  background-color: lightgrey;
  color: #00B2A9;
}

.container {
  margin: auto;
  width: 75%;
}

#logo {
  float: right;
  max-height: 3em;
}

#logo:hover {
  background-color: lightgrey;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #dddddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333F48;
  color: white;
}

.team_block {
  display: flex;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: black;
}

.team_name {
  justify-content: flex-start;
}

.team_button {
  justify-content: flex-end;
}

.branding {
  margin: 25px;
}

.branding h1, .branding h2 {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #E35205;
  background-color: #333F48;
  border-top: 2px solid;
}
